* {
    color: #000080;
    background-color: #ffffff;
}

.text {
    color: #000080;
}

a {
    color: #800080;
}

a:visited {
    color: #ff0000;
}

.center {
    text-align: center;
}

h1 span {
    display: block;
    text-align: center;
}

p span {
    display: block;
    text-align: center;
}

li span {
    font-size: 0.6em;
}

.address {
    font-size: 0.4em;
}

.home-page-text {
    font-size: 0.5em;
}

.title {
    font-size: 0.6em;
}

.title-letters {
    display: inline;
    font-size: 1.5em;
}

#geico {
    font-size: 0.6em;
}

.contact {
    font-size: 0.8em;
}

footer {
    font-size: 0.4em;
}

li a {
    display: block;
}

table {
    margin: auto;
}

li {
    margin: -1%;
    width: 95%;
}

/*

    -What is important to know when linking an external file (like a stylesheet) to an HTML file?
    It's important to get the path righ for the .css file.

    -What tricks did you use to help you with positioning?
    The use of margin, width and text align helped with the positioning.
    Also, using % instead of fixed em or pixel values helped in positioning when the window size changed.

    -How hard was it to get the site as you wanted it?
    It was pretty challenging to make it look exactly like the site, especially when there are so many different options to use to design the website.

    -What CSS did you use to modify the element style (like size, color, etc.)
    The element styles were modified using color, font-size and text-align.

    -Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
    Classes and ids were used pretty often to control the size and positioning of the different text parts.

    -When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
    Not neccessary, I think ours wasn't the most effective and practical way with the way we organized and used classes.

*/